$primary-color: #2E1165;
$primary-light-color: #42278E;
$primary-second-shade-color: #2F176C;
$secondary-color: #F89E2C;
$tertiary-color: #F7734F;
$dark-grey-color: #1C1C1C;
$light-grey-color: #5C5C5C;
$white-color: #FFFFFF;
