.DocContentList {
    position: fixed;
    margin-top: 150px;
    margin-left: 10px;
    padding: 10px;
    font-size: 0.6em;
    border-left: 2px solid #ddd;
    font-family: 'Roboto Mono', monospace;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        a {
            text-decoration: none;
            color: #ddd;
        }
        li {
            margin: 6px 0px;
        }
    }
}