@import '../../Variables.scss';

.DocMainContent {
    .hljs, .hljs-attr {
        color: $dark-grey-color;
    }
    .hljs-attr {
        font-weight: 600;
        color: $primary-light-color;
    }
    .hljs-string {
        color: $tertiary-color;
    }
    .hljs-keyword, .hljs-title, .hljs-built_in {
        color: $primary-light-color;
    }
    .hljs-title {
        font-weight: 600;
    }
}