section.DocSearch {
    position: fixed;
    height: 100%;
    width: 16%;
    background-color: #202124;
    padding: 20px;

    .doc-search {
        margin-top: 10px;
        width: 100%;
    }
    .logo-div {
        padding-bottom: 15px;
        border-bottom: 1px solid #333;
    }
}