section.DocSearch {
    position: fixed;
    height: 100%;
    width: 16%;
    background-color: #F7F7F7;
    padding: 20px;

    .doc-search {
        margin-top: 10px;
        width: 100%;
    }
    .logo-div {
        padding-bottom: 15px;
    }
}