section.DocTable {
    height: 100%;
    padding: 20px;
    overflow-y: scroll;

    table {
        font-size: 14px;
        margin: 30px 0px;
        thead.header {
            border: none;
            background-color: #F7F7F7;
        }
        .field-name {
            font-family: 'Roboto Mono', monospace;
            font-weight: 700;
        }
    }
    h1 {
        font-family: 'Raleway', sans-serif;
        margin: 40px 0px;
    }
    h5 {
        line-height: 1.5em;
        font-weight: 300;
    }
    .nav-path {
        padding-bottom: 20px;
        padding-left: 5px;
        font-size: .8em;
        font-family: 'Roboto Mono', monospace;
        border-bottom: 3px solid #41228E;
    }
    .msg-name-box {
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 2em;
        .msg-name-tag {
            background-color: #222;
            padding: 4px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            border: 1px solid #222;
            color: #fff;
        }
        .msg-name {
            /* padding: 4px 15px;
            border: 1px solid #222;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px; */
        }
    }
    .msg-description {
        font-weight: 300;
    }
    .msg-table {
        border-top: 1px dotted #ddd;
    }
    .standard-description {
        margin-bottom: 60px;
    }
}