@import '../../Variables.scss';

section.DocTable {
    padding: 20px;
    overflow-y: scroll;

    table {
        font-size: 14px;
        margin: 30px 0px;
        border-color: $dark-grey-color;
        color: $primary-color;
        thead.header {
            border: none;
            background-color: $white-color;
        }
        .field-name {
            font-family: 'Roboto Mono', monospace;
            font-weight: 700;
            color: $secondary-color;
        }
    }
    h1 {
        font-family: 'Raleway', sans-serif;
        margin: 40px 0px;
    }
    h5 {
        line-height: 1.5em;
        font-weight: 300;
    }
    
    .msg-name-box {
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 2em;
        .msg-name-tag {
            background-color: #222;
            padding: 4px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            border: 1px solid #222;
            color: #fff;
        }
        .msg-name {
            color: $primary-color;
            /* padding: 4px 15px;
            border: 1px solid #222;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px; */
        }
    }
    .msg-description {
        font-weight: 300;
    }
    .msg-table {
        border-bottom: 1px dotted #ddd;
    }
    
}